#vridu{
    width: 500px;
    height:500px;
    border: none;
}
.navabar
{
    position: sticky;
    top:0;
    z-index: 99999;
}
.ComidaHead{
    font-size: larger;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.ComidaHead i{
    float: right;
}
h6{
    color: red;
}